<li>
  <a href="{{link}}">
    <strong>{{title}}</strong>
    <ul class="info">
      <li><strong>{{author}}</strong></li>
      <li><strong>{{time}}</strong></li>
    </ul>
    <p>{{summary}}</p>
  </a>
</li>