<h1>Themes</h1>
{{#each themes}}
  <div>
    <input id="{{@key}}" type="radio" name="{{../theme}}" value="{{@key}}" {{#if this.value}} checked="checked" {{/if}} />
    <label for="{{@key}}" class="icon-check">{{this.name}}</label> 
  </div>
{{/each}}

<hr>
<h2>Theme Options</h2>
<div>
  <input id="{{darkFont.name}}" type="checkbox" name="{{darkFont.name}}" value="{{darkFont.name}}" {{#if darkFont.value}} checked="checked" {{/if}} />
  <label for="{{darkFont.name}}" class="icon-check">Use dark font color</label>
</div>

<div>
  <input id="{{grayApps.name}}" type="checkbox" name="{{grayApps.name}}" value="{{grayApps.name}}" {{#if grayApps.value}} checked="checked" {{/if}} />
  <label for="{{grayApps.name}}" class="icon-check">Use grayscaled app icons</label> 
</div>
